*{
  padding: 0;
  margin: 0;
}

.header-root {
  flex-grow: 1;
}

.header-title{
  flex-grow: 1;
}

.category-title{
  padding-left: 10px;
  font-weight: bold;
}
.header-menu{

}


.content{
  /* background-color: red; */
  /* height: 100vh; */
  /* margin: 0 auto; */
  padding-top: 50px;
}

.graph-area{
  /* height: 400px; */
  width: 50%;
  min-width: 500px;
  /* background-color: green; */
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.stats-area{
  height: 200px;
  width: 50%;
  min-width: 500px;
  /* background-color: yellow; */
  margin: 0 auto;
  margin-top: 50px;
}

.stats-area > p{
  padding: 5px;
}

.add-div{
  bottom: 0;
  position: absolute;
  padding: 30px;
}

.form-formula{
  display: flex;
  justify-content: center;
}