*{
  padding: 0;
  margin: 0;
}

body{
  background-color: whitesmoke;
}

.header-root {
  flex-grow: 1;
}

.header-title{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.logo-title{
  flex-grow: 1;
  visibility: visible;
}

.leave{
  /* flex-grow: 1 */
}

.leave:hover{
  color: red;
}

.category-title{
  padding-left: 10px;
  font-weight: bold;
}
.header-menu{

}


.content{
  /* background-color: red; */
  /* height: 100vh; */
  /* margin: 0 auto; */
  padding-top: 50px;
}

.graph-area{
  /* height: 400px; */
  width: 50%;
  min-width: 400px;
  /* background-color: green; */
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.options{
  width: 50%;
  margin: 0 auto;
  min-width: 400px;
  /* background-color: yellow; */
}

.stats-area{
  height: 200px;
  width: 50%;
  min-width: 400px;
  /* background-color: yellow; */
  margin: 0 auto;
  /* margin-top: 10; */
}

.stats-area > p{
  padding: 5px;
}

.raw-data-area{
  width: 350px;
  overflow-y: auto;
}
.add-div{
  bottom: 0;
  position: fixed;
  padding: 30px;
}

.form-formula{
  display: flex;
  justify-content: center;
}

.graph-add-content{
  overflow-y: auto;
}




/* -----------------login -----------------*/

.login-page{
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-paper{
  /* display: flex;
  justify-content: center; */
  width: 30%;
  min-width: 300px;
  /* margin-top: 25%; */
  /* margin-left: auto;
  margin-right: auto; */
  padding: 20px;
  /* margin: auto; */
}

.login-title{
  display: flex;
  justify-content: center; 
  /* background-color: blue; */
  width: 100%;
  padding-top: 20px;
}

.login-content{
  margin: 0 auto;
  /* background-color: yellow; */
  width: 50%;
  padding-top: 20px;
}

.login-actions{
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center; 
  padding-top: 20px;
}


.nothing{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 700px) {
  .add-div {
    position: absolute;
    padding: 10px;
    right: 0;
  }

  .logo-title{
    visibility: hidden;
  }

  .raw{
    bottom: 0;
    left: 0;
    position: absolute;
  }
}